<?xml version="1.0"?>

<launch>

    <rosparam command="load" file="$(find guidance_planner)/config/params.yaml"/>
    <param name="clock_frequency" value="20"/>
    <node pkg="guidance_planner" type="example" name="example" respawn="false" output="screen"/>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" respawn="false"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find guidance_planner)/rviz/ros1_example.rviz" output="log"/>

</launch>  
